# Ignore Docker build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.tmp
*.bak
*.egg-info/
.env
.venv/
.opt/
opt/
src/
build/
dist/
.idea/
.vscode/

# Ignore local Docker files
*.tar
*.img
*.pid
*.sock

# Ignore Python virtual environments
venv/
ENV/
env/

